h1, h2, h3, h4 {
    color: #7030a0;
}

.navbar {
    background: #7030a0;
}

.navbar a {
    color: white
}

.navbar a:hover {
    color: rgb(165, 165, 165);
}

section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}